.sidebar{
    padding-top:27px;
    background-color: rgb(228, 223, 223);
    width:100%;
    overflow-y: auto;
    text-align: center;
}
.dark{
    background-color: rgb(48, 31, 31);
    color: rgb(75, 75, 204);

}
.item{
    border: 1px solid black;
    margin-top:5px;
    font-family:cursive;
    font-style:normal;
    padding:2px;
}